@{
    ViewData["Title"] = "Help & Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="border p-3">
        <div class="d-flex justify-content-between mb-10">
            <div class="p-2">
                <h2 class="text-primary">Frequently Asked Questions</h2>
            </div>
            <div class="p-2">
                    <div class="row">
                        <div class="col">
                            <a asp-action="Contact" class="btn btn-success  form-control " style="background-color:cadetblue"> <i class="fab fa-hire-a-helper"></i> Contact Us </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
    <div class="container">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                            <b>MY RETURN WAS PICKED UP BUT I HAVEN'T RECEIVED MY REFUND YET ?</b>
                        </a>
                    </h3>
                </div>
                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                    <div class="panel-body px-3 mb-4">
                        <p>-- Refund will be initiated after we receive the item and it passes the quality check.
                            <br />-- Refund will be reach us +1 to 3 business days.
                        </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            <b>I AM UNABLE TO LOGIN TO MY ACCOUNT </b>
                        </a>
                    </h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                        <p>
                            -- You can recover your password using the "Forgot Password" link in the login page.
                            <br />-- If you still unable to access your account, then please fill up the Contact us form.
                        </p>                   
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            <b>I AM LOCKED I CAN'T ACCESS MY ACCOUNT</b>
                        </a>
                    </h3>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                        <p>
                            -- Sorry, For Locking Your Account. Due to some reason we locked you but now you can request for accessing your account on "Contact Us".
                        </p>                   
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            <b>I WANT SOME EXTRA SECURITY ON MY ACCOUNT?
                        </a>
                    </h3>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body px-3 mb-4">
                        <p>
                            -- Yes, you can Login to your account and open profile then Two Factor Authentication is given.
                            <br />1) click that and Setup Authenticator app.
                            <br />2) SetUp Authenticator on your Account.
                            <br />3) Download "Google Authenticator" or "Microsoft Authenticator" app on your mobile.
                            <br />4) Now scan boarcode which is given in profile.
                            <br />5) Then add code in your account. now two factor is adding to your account.
                        </p>                   
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<style>

    h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 1.5rem;
    color: #091f2f;
    text-transform: uppercase;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: honeydew;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.0rem;
   color: #008080;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #008080;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.0rem;
}
</style>
