@{
    ViewData["Title"] = "Preview Page";
}
<script type="text/javascript">

    function OpenPDFHidingPath() {
        window.open('@Url.Action("OpenPDF", "Home")', "", "width=700,height=600")
    }
</script>
<div class="row">
    <div class="col-md-6">
        <h2>PDF Open with hiding Physical Path</h2> <a href="#" onclick="OpenPDFHidingPath()">Click here to Open PDF</a>
    </div>
</div>