
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">How can we help you ?</h1><br />
    </div>
    <div class="col-12 text-center" style="color:peru">
        <br />
        Hello ! <br />
        Welcome to Helpdesk.<br />
        Helpdesk provides excellent tools to manage email communication with customers.
        <br />
        <br />
        <br />
        <div class="card-footer">

            <div class="row">
                <div class="col">
                    <a asp-action="Upsert" class="btn btn-success form-control ">Generate Ticket</a>
                </div>
            </div>
        </div>
    </div>

</div>