@*<div style="width:100%;height:600px">
        <ejs-pdfviewer id="pdfviewer"
        style="height:600px"
        serviceUrl="/api/PdfViewer"
        documentPath=@ViewBag.DocumentPath
        enableToolbar="true"
        enableMagnification="true"
        enableNavigation="true"
        enableHyperlink="true"
        enableThumbnail="true"
        enableBookmark="true"
        enableTextSelection="true"
        enableTextSearch="true"
        enablePrint="true"
        enableAnnotation="true">
        </ejs-pdfviewer>
    </div>

    <script>
           window.onload = function () {
                var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
                pdfViewer.toolbar.showToolbar(false);
            }
    </script>*@
<div style="width:100%;height:600px">
    <ejs-pdfviewer id="pdfviewer"
                   style="height:600px"
                   serviceUrl="http://localhost:55767/pdfviewer"
                   documentPath="PDF Succinctly.pdf"
                   enableToolbar="true">
    </ejs-pdfviewer>
</div>

<script>
    window.onload = function () {
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        pdfViewer.toolbar.showToolbarItem(new Array("DownloadOption"), true);
    }
</script>